extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form.form--resetPassword
                .form__group
                    label.form__label(for='token') Paste Your Token Which is come in Email
                    input#token.form__input(type='text', placeholder='write your token', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Reset Password